# Ignore all dotfiles...
.*
# except for .gitignore
!.gitignore
!.eslintrc.json
!.github/
!.github/**
node_modules
cerebro.db
cerebro.db-*
/cerebro
/tmp
.air.tmp/
conf/application.yaml
*.test
*.out
/public/index.html
/public/assets/index.css
/public/assets/index.js
/public/assets/JsonEditor.js
/internal/server/static/*
!/internal/server/static/.gitkeep
